<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="pizza" class="com.example.pizza.PizzaApplication" >
        <constructor-arg name="topping">
            <list>
                <value>Onions</value>
                <value>Mushroom</value>
            </list>
        </constructor-arg>
        <constructor-arg name="pizzaCrust" value="Regular"></constructor-arg>
        <constructor-arg name="pizzaSize" value="Small"></constructor-arg>

    </bean>
</beans>